{% extends 'base.html' %}


{% block header %}
	{% include 'header.html' %}
{% endblock header %}


{% block content %}

	<div class="col">
		<h1>{{ message }}</h1>

		{# comentario django #}

		<ul class="list-group">
			{% for product in products %}
			<li class="list-group-item">
				{{ product.title }} {% if product.stock %}
				<span class="text-success">Disponible</span>
				{% else %}
				<span class="text-danger">No Disponible</span>
				{% endif %}
			</li>

			{% endfor %}
		</ul>
	</div>

{% endblock %}

