<div class="table-responsive">
  <table class="table table-hover text-center align-middle">
    <thead class="table-dark align-middle">
      <tr>
        <th scope="col">Talle</th>
        <th scope="col">1<br>S</th>
        <th scope="col">2<br>M</th>
        <th scope="col">3<br>L</th>
        <th scope="col">4<br>XL</th>
        <th scope="col">5<br>2XL</th>
        <th scope="col">6<br>3XL</th>
        <th scope="col">7<br>4XL</th>     
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Busto<br>(Contorno real)</th>
        <td>85cm</td>
        <td>90cm</td>
        <td>95cm</td>
        <td>100cm</td>
        <td>105cm</td>
        <td>110cm</td>
        <td>115cm</td> 
      </tr>
      <tr>
        <th scope="row">Cadera<br>(Contorno real)</th>
        <td>87cm-92cm</td>
        <td>93cm-97cm</td>
        <td>98cm-103cm</td>
        <td>104cm-108cm</td>
        <td>109cm-114cm</td>
        <td>115cm-119cm</td>
        <td>120cm-124cm</td> 
      </tr>
    </tbody>
  </table>
</div>